{% extends 'base.html.twig' %}


{% block body %}

    <div class="col-md-8 offset-md-2">
        <div class="card card-outline card-success">
            <div class="card-header">
                <div class="card-title"> Modifier les informations d'un jury</div>
            </div>
            <div class="card-body">
                {{ include('jury/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
        </div>

    </div>

{% endblock %}
