{% extends 'base.html.twig' %}

{% block title %}New Sourate{% endblock %}

{% block body %}
    <h1>Create new Sourate</h1>

    {{ include('sourate/_form.html.twig') }}

    <a href="{{ path('app_sourate_index') }}">back to list</a>
{% endblock %}
