{% extends 'base.html.twig' %}

{% block title %}New CategorieCandidats{% endblock %}

{% block body %}
    <h1>Create new CategorieCandidats</h1>

    {{ include('categorie_candidats/_form.html.twig') }}

    <a href="{{ path('app_categorie_candidats_index') }}">back to list</a>
{% endblock %}
