
{% extends 'base.html.twig' %}

{% block title %}Annee{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card card-outline card-success">
            <div class="card-header">
                <div class="card-title"> Année</div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Numero</th>
                        <td>{{ annee.id }}</td>
                    </tr>

                    <tr>
                        <th>Année</th>
                        <td>{{ annee.annee}}</td>
                    </tr>



                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}
