<form method="post" action="{{ path('app_ecolede_provenance_delete', {'id': ecolede_provenance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ecolede_provenance.id) }}">
    <button class="btn">Delete</button>
</form>
