{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-success">
                <div class="card-header">
                    <div class="card-title"> {% block ti %} {% endblock %}</div>
                </div>
                <div class="card-body p-0">
                    {% block tablecontent %}

                    {% endblock %}
                </div>
            </div>

        </div>

    </div>
{% endblock %}
